/* font-family: "myriad-pro", sans-serif;
font-weight: 700;
font-style: normal; */
/* 
font-family: "myriad-pro-condensed", sans-serif;
font-weight: 700;
font-style: normal; */
:root {
    --black-coffee: #3a3335;
    --fire-opal: #eb5e55;
    --ruby: #d81e5b;
    --papaya-whip: #fdf0d5;
    --opal: #C6D8D3;
}

* {
    font-family: "myriad-pro", sans-serif;
    font-style: normal;
}

body {
    background-color: var(--papaya-whip);
}
#todayCard1 {
    background-color: #3a3335;
    color: #fdf0d5;
    width: 300px;
    height: 400px;
    padding: 20px;
    min-height: fit-content;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#todayCard2 {
    background-color: #3a3335;
    color: #fdf0d5;
    width: 300px;
    height: 400px;
    padding: 20px;
    min-height: fit-content;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#todayCard3 {
    background-color: #3a3335;
    color: #fdf0d5;
    width: 300px;
    height: 400px;
    padding: 20px;
    min-height: fit-content;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#date1 {
    background-color: #C6D8D3;
    color: #3a3335;
    align-items: center;
}

#activityText {
    background-color: #EB5E55;
    color: #fdf0d5;
    margin-top: 20px;
    padding: 10px;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 60px;
}

nav {
    background-color: var(--black-coffee);
    color: var(--papaya-whip);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navigation {
    display: flex;
    align-items: center;
}

#navigation a {
    font-size: 30px;
    font-weight: bold;
    margin: 0px 40px;
}

nav h1 {
    font-size: 60px;
    font-weight: bold;
    margin: 0px 30px 10px 20px;
}

nav h2 {
    font-size: 40px;
    font-weight: bold;
    margin: 8px 20px;
}

footer {
    display: flex;
    justify-content: end;
    align-items: center;
    color: var(--black-coffee);
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 40px;
    font-weight: bold;
    margin: 8px 20px;
}



#generateActivityBtn {
    background-color: var(--fire-opal);

    margin: 35px;

    margin-top: 20px;
    margin: 10px 30px;
    margin-bottom: 10px;
}

#complete-activity {
    background-color: var(--opal);
    color: var(--black-coffee);
    margin: 0px 50px;
    font-size: 15px;

}

#activityText1 {
    background-color: #EB5E55;
    color: #fdf0d5;
    display: none;
    margin-top: 20px;
    padding: 10px;
}

#today-card {
    background-color: var(--black-coffee);
    color: var(--papaya-whip);
    min-width: 500px;
    width: fit-content;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0;
    border: var(--black-coffee) 0.5px solid;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}

#weather {
    font-weight: bold;
}

/* Help Modal */

.help-icon {
    background-color: var(--black-coffee);
    color: var(--papaya-whip);
}

.help-modal-bg {
    background-color: var(--papaya-whip);
}

.help-modal-bg-dark {
    background-color: var(--black-coffee);
}

.modal-text {
    color: var(--black-coffee);
}

.modal-text-light {
    color: #3a3335c7;
}

#close-modal {
    background-color: var(--papaya-whip);
    color: var(--black-coffee);
}

#close-modal:hover {
    padding: 15px;
    transition: 200ms;

}

#modalStyle {
    background-color: var(--papaya-whip)
}

#scoreModalHeader {
    color: var(--black-coffee);
}

#score1 {
    background-color: var(--fire-opal);
    color: var(--papaya-whip);
}

#giveUp {
    background-color: var(--opal);
    color: var(--papaya-whip);
}

.modal-text-light {
    color: #3a3335c7;
}

#close-modal:hover {
    padding: 15px;
    transition: 200ms;
}

.hide {
    visibility: hidden;
}